<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="get-in-touch">
  <h1 class="title">Randomiser</h1>
  <form
   [formGroup]="Severate" name="Sevarate"
    class="contact-form row"
  >
    <div class="form-field col-lg-12">
      <input id="number" name="number" class="input-text js-input" formControlName="number"
      type="number" required />
      <label class="label" for="number">Number</label>
    </div>
    <div class="form-field col-lg-12">
      <input class="submit-btn" type="submit" value="Submit" (click)="submitForm(Severate.value)"/>
    </div>
    <p>{{ hours }}:{{ minutes }}:{{ seconds }}</p>
  </form>
</section>
